# Carpetas comprimidas
*.zip

# Notas
Notas*

# Archivos y carpetas de Visual Studio
.vs/
*.user
*.suo

# Carpetas de compilación
bin/
obj/

# Archivos de configuración locales
*.userosscache
*.sln.docstates

# Archivos de paquetes NuGet
*.nupkg
packages/
*.snupkg

# Archivos de configuración de Rider/JetBrains
.idea/
*.sln.iml

# Archivos de diseño de XAML generados automáticamente
*.g.cs
*.g.i.cs

# Otros archivos temporales
*.log
*.tmp